{% extends 'template.html' %}
{% block bodyContent %}
	 <div class="container">
 		<h1>Hello...</h1>
	 	<div class="row">
	 		<div class="col-sm-12">
	 			{{ intro|raw }}
	 		</div>
	 	</div>
	 	<div class="row">
	 		<div class="col-sm-12">
	 			<ul class="list-inline">
	 				{% for place in elsewhere %}
	 				<li>
	 					<a href="{{ place.href }}" target="_blank">
	 						<span class="icon icon-{{place.icon}}"></span>
	 						{{ place.name }}
 						</a>
 					</li>
	 				{% endfor %}
	 			</ul>
	 		</div>
	 	</div>
	 </div>
{% endblock %}