@import (inline) "MyFontsWebfontsKit.css";

// Bootstrap (the good bits)
@import "bootstrap.less";

// My Icon font
@import "icons.less";

// Colours from https://kuler.adobe.com/Expo-color-theme-4112299/

@body-bg: #435772;
@text-color: #fff;
@link-color: @text-color;
@font-family-base: 'ProximaNova-Regular', Georgia, 'Times New Roman', Times, serif;
@font-size-base: 22px;
@headings-font-family: 'ProximaNova-Regular';
@headings-font-weight: normal;
@headings-small-color: @headings-color;
@container-large-desktop: @container-tablet;
@container-desktop: @container-tablet;

a {
	transition: color .3s ease-in-out;
}

a:hover {
	text-decoration: none;
	color: #FEAA3A;
}

.container {
	margin-top: 80px;
}

.list-inline {
	margin-top: 5px;
	li {
		padding-bottom: 5px;
		font-size: 20px;
	}
}