@import (inline) "MyFontsWebfontsKit.css";

// Bootstrap (the good bits)
@import "bootstrap.less";

// My Icon font
@import "icons.less";

// @body-bg: #333;
// @text-color: #fff;
@link-color: @text-color;
@font-family-serif: 'ProximaNova-Regular', Georgia, 'Times New Roman', Times, serif;
@font-size-base: 16px;
@headings-font-family: 'ProximaNova-Bold';
@headings-font-weight: normal;
@container-large-desktop: @container-tablet;
@container-desktop: @container-tablet;